@import url('https://fonts.googleapis.com/css?family=Spectral:400,700&display=swap');

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }

  .carousel-control-prev {
    visibility: hidden;
  }
  .carousel-control-next {
    visibility: hidden;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }

  .text1 {
    margin-top: 70px;
    font-size: 230px !important;
  }
  
  .text2 {
    margin-top: 70px;
    font-size: 230px !important;
  }

}

@media (min-width: 992px) {
  .block-1 {
    margin-top: 150px;
    font-size: 20px;
    line-height: 1.8;
  }
}

.wrapper {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  position: relative;
}

.nav-bar {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.xspace {
  margin-top: 20px;
}

.head {
    height: 500px;
    min-height: 500px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0)
    ), url(/cortelazzi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35); */
    font-family: 'Spectral', serif;
}

.head-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding-top: 225px;
}

.text1 {
  font-size: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: -60px;
  font-family: 'Spectral', serif;
}

.text2 {
  font-size: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  right: -60px;
  font-family: 'Spectral', serif;
}

.text1desc {
  margin-top: 180px;
  font-size: 30px;
  font-family: 'Spectral', serif;
}

.img-carou {
  width: 100%;
}

a {
  color: #212529;
  text-decoration: underline;
}

.nav-item a {
  text-decoration: none;
}

a:hover {
  color: darkslategrey;
}

.hilo {
  margin-top: 50px;
}

.block {
  margin-top: 150px;
  font-size: 20px;
  line-height: 1.8;
}

.block-1 {
  margin-top: 60px;
  font-size: 20px;
  line-height: 1.8;
}

.block-last {
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.8;
}

.left {
  vertical-align: left;
}

.foot {
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.80);
  color: white;
  font-family: 'Spectral', serif;
}

.carou {
  margin-top: 150px;
}

.vl {
  border-left: 2px solid #414042;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 30px;
}

.round {
  border-radius: 35px;
  width: 150px;
  padding: 10px;
}

.final-block {
  margin-top: 180px;
}

.testimonial-block {
  background-color: rgba(0, 0, 0, 0.05);
  height: 250px;
}

footer {
  margin-top: 50px;
  min-height: 350px;
  background-color: #414042;
  position: block;
  color: white;
}

/* Testimonial Carousel */

.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 250px;
  font-size: 20px;
  line-height: 1.8;
  margin-top: 60px;
}

.testimonial {
  border: none !important;
  outline: none !important;
  height: 250px;
  padding-top: 70px;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(30%);
    margin-top: -20px;
}

/* Slick */

.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}