@import url('https://fonts.googleapis.com/css?family=Spectral:400,700&display=swap');

.wrapper {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  position: relative;
}

.nav-bar {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.head {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0)
    ), url(/assets/img/unsplash1-squashed.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35); */
    font-family: 'Spectral', serif;
}

.head-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding-top: 225px;
}

.text1 {
  font-size: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: -60px;
  font-family: 'Spectral', serif;
}
.text2 {
  font-size: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  right: -60px;
  font-family: 'Spectral', serif;
}

.text1desc {
  margin-top: 180px;
  font-size: 30px;
  font-family: 'Spectral', serif;
}

a {
  color: #212529;
  text-decoration: underline;
}

.nav-item a {
  text-decoration: none;
}

a:hover {
  color: darkslategrey;
}

.block {
  margin-top: 150px;
  font-size: 20px;
  line-height: 1.8;
}

.block-last {
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.8;
}

.left {
  vertical-align: left;
}

.foot {
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.80);
  color: white;
  font-family: 'Spectral', serif;
}

.carou {
  margin-top: 150px;
}

.vl {
  border-left: 2px solid #414042;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 30px;
}

.round {
  border-radius: 35px;
  width: 150px;
  padding: 10px;
}

.final-block {
  margin-top: 180px;
}

footer {
  margin-top: 50px;
  min-height: 200px;
  background-color: #414042;
  position: block;
  color: white;
}